In [ ]:
# loc in Pandas
# loc is label-based, which means that we have to specify the name of the rows and columns that we need to filter out.

# For example, let’s say we search for the rows whose index is 1, 2 or 100. We will not get the first, second or the hundredth row here. Instead, we will get the results only if the name of any index is 1, 2 or 100.

# So, we can filter the data using the loc function in Pandas even if the indices are not an integer in our dataset.

In [ ]:
'''iloc in Pandas
On the other hand, iloc is integer index-based. So here, we have to specify rows and columns by their integer index.

Let’s say we search for the rows with index 1, 2 or 100. It will return the first, second and hundredth row, regardless of the name or labels we have in the index in our dataset.

We will see multiple examples in this article on how to use loc and iloc for the data selection and data update process in Python.'''

In [1]:
import pandas as pd

In [2]:
#Import the json in a dataframe

df = pd.read_json("C:\\Users\Kishan Panchal\Downloads\Course 7 - Data Analysis with Python\C7W1 Activity - In class\Jay (1).json")

In [3]:
df.head()

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [12]:
#dataframe.loc[row_index,'coumn_name']
df.loc[1:3,'Calories']

1    479.0
2    340.0
3    282.4
Name: Calories, dtype: float64

In [14]:
#dataframe.iloc[row_index,coumn_index]
df.iloc[::3,3]

0       409.1
3       282.4
6       374.0
9       269.0
12      345.3
15      215.2
18      323.0
21      282.0
24      334.5
27        NaN
30      243.0
33      223.0
36      300.5
39      266.0
42      329.4
45      273.0
48      298.0
51      643.1
54      238.0
57      305.0
60     1376.0
63      341.0
66      873.4
69     1500.2
72      700.0
75      563.2
78      500.4
81      344.0
84      225.3
87     1000.1
90      600.1
93       50.5
96      128.2
99      604.1
102     500.0
105     124.0
108     500.3
111     275.0
114     367.6
117     277.4
120     193.9
123     344.9
126     275.3
129     384.0
132     335.0
135     189.0
138     308.0
141       NaN
144     470.2
147     361.9
150     343.0
153     275.8
156     270.4
159     240.9
162     270.0
165     300.4
168     330.4
Name: Calories, dtype: float64